.header {
    width: 100vw;
    height: 10vh;
    background: #EEE;
}

.body {
    width: 100vw;
    height: 80vh;
}

.footer {
    width: 100vw;
    height: 10vh;
    background: #EEE;
}

body {
    margin: 0;
    overflow: hidden;
    background: white;
}

div {
    border-collapse: collapse;
    border: none;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.menuItem {
    width: 30vh;
    height: 30vh;
    margin: 5vh;
    border-radius: 50px;
    border: none;
    font-size: 30px;
    transition: 0.2s;
}

.menuItem:hover {
    transform: scale(1.2);
    box-shadow: 0px 0 16px 7px #ccc;
}

.menuItem:active {
    transform: scale(0.8);
}

.icon {
    height: 15vh;
}