:root {
    --main-font: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
}

.header {
    width: 100vw;
    height: 10vh;
    background: none;
    font-family: var(--main-font);
    padding: 2vh 5vh;
    box-sizing: border-box;
    color: #333
}

.body {
    width: 100vw;
    height: 80vh;
    font-family: var(--main-font);
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.footer {
    width: 100vw;
    height: 10vh;
    background: none;
    font-family: var(--main-font);
    padding: 2vh 5vh;
    box-sizing: border-box;
    color: #333
}

body {
    margin: 0;
    overflow: hidden;
    background: white;
    font-family: var(--main-font);
    white-space: nowrap;
}

div {
    border-collapse: collapse;
    border: none;
    font-family: var(--main-font);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-family: var(--main-font);
}

.full {
    height: 80vh
}

.menuItem {
    /* width: calc((100vw - 10vh) / 5); */
    width: calc((100vw - 20vh) / 4);
    height: 30vh;
    /* margin: 2vh; */
    margin: 5vh;
    border-radius: 5vh;
    border: none;
    transition: 0.2s;
    background: #f0f0f0;
}


/* .menuItem:hover { */


/* transform: scale(1.2); */


/* box-shadow: 0px 0 16px 7px #ccc; */


/* background: white; */


/* } */

.menuItem:active {
    transform: scale(0.8);
}

.icon {
    height: 15vh;
}

.iconOnly {
    height: auto;
    width: 30vh;
}

.disabled {
    filter: grayscale(1) brightness(0.8);
}

.disabled:hover {
    transform: scale(1);
    box-shadow: none;
    background: #f0f0f0;
}

.disabled:active {
    transform: scale(1);
}

.title {
    color: #555;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 6vh;
}

.subtitle {
    color: rgb(158, 158, 158);
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 4vh;
}

.langSelect {
    color: black;
    font-family: var(--main-font);
    font-size: 5vh;
    border-radius: 100vh;
    background: none;
    border: none;
    width: 20vh;
    height: 8vh;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 300;
}

.selected {
    background: rgb(210, 210, 210);
    font-weight: 500;
}

.freeWidth {
    width: auto;
    padding: 0 2vw;
    background: rgb(226, 226, 226);
    font-size: 4vh;
    height: auto;
    margin-right: 2vw
}

.selectedFree {
    background: rgb(40, 40, 40);
    color: white;
}

button {
    -webkit-tap-highlight-color: transparent;
}

.buttonAlt {
    font-family: var(--main-font);
    color: #111;
    font-weight: 500;
    font-size: 4vh;
    /* letter-spacing: 2px; */
}

.secondaryAlt {
    color: #333;
    font-weight: 300;
    font-size: 2.5vh;
    display: none;
}